header {
    background: linear-gradient(#970404,rgba(0, 0, 0, 0.7) ), url("../img/hero.jpg");
    /* background-image: url(../img/hero.jpg);  */
    height: 450px;
    background-size: cover;
    text-align: center;
    /* opacity: 0.8; */
}

.logo {
    color: #fff;
    font-family: 'Yesteryear', cursive; 
    font-size: 40px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #db0808;
}

.header-title-1 {
    font-family: 'Rochester', cursive;
    color: rgb(24, 19, 19);
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.header-title-2 {
    /* font-family: 'Oswald', sans-serif; */
    color: rgb(41, 39, 39);
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 25px;
}

.sepcialities-section {
    background: linear-gradient(hsla(0, 0%, 0%, 0.733),#970404);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sepcialities-middle {
    text-align: center;
    position: relative;
}

.sepcialities-h1 {
    font-family: 'Rochester', cursive;
    color:#970404;
    margin-bottom: 15px;
    font-size: 40px;
}

.sepcialities-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: rgb(48, 47, 47);
    font-size: 50px;
}

.specialities-h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.sepcialities-row {
    display: flex;
    justify-content: center;
}

.sepcialities-col {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.image1,
.image2,
.image3 {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.image1 {
    background-image: url("../img/steps-1.webp");
    background-size: cover;
    
}

.image1 .image-overlay,
.image2 .image-overlay,
.image3 .image-overlay {
    opacity: 0;
}

.image1:hover .image-overlay,
.image2:hover .image-overlay,
.image3:hover .image-overlay {
    opacity: 1;
}

.image2 {
    background-image: url("../img/steps-2.webp");
    background-size: cover;
}

.image3 {
    background-image: url("../img/steps-3.webp");
    background-size: cover;
}

.image-overlay {
    opacity: 0;
    background-color: rgba(242, 50, 50, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 9px;
    transition: all 0.4s ease-in-out;
}

.image-overlay-border {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
}

.sepcialities-middle:before {
    content: '';
    position: absolute;
    /* border-top: 100px solid black;
    border-right: 100vw solid transparent; */
    top: -100px;
    left: 0;
}

.sepcialities-middle:after {
    content: '';
    position: absolute;
    /* border-bottom: 100px solid #f0f0f0;
    border-left: 100vw solid transparent; */
    bottom: -100px;
    right: 0;
}

/*Footer Section*/
footer {
    padding: 40px 0;
    padding-bottom: 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/food-background.jpg"); */
    background-color: rgb(43, 24, 24);
    background-position: center;
    background-size: cover;
    color: #f0f0f0;
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-col {
    margin: 30px 60px;
}

.footer-title {
    margin-bottom: 30px;
    color:#970404;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-text {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-email {
    padding: 10px 20px;
    width: 230px;
    height: 45px;
    margin-bottom: 10px;
}

.footer-subscribe {
    width: 230px;
    height: 45px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color:#970404;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    /*to center vertically*/
}

.copyright {
    padding: 25px;
    color: #f0f0f0;
    font-size: 14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid rgba(240, 240, 240, 0.425);
}

.copyright-name {
    color:#970404;
    text-transform: capitalize;
}
